<div>
    <div class="modal-header">
        <h3>Käännösten kopsaamien</h3>
    </div>

    <div class="modal-body">
        <div>Käännösten kopiointi annetusta ympäristöstä 'TÄHÄN' ympäristöön.</div>

        <input type="text" data-ng-model="model.copyFrom" placeholder="localisointi RESR uri tähän" />

        {{ model.result }}

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="transferDialogCancel()">Peruuta</button>
        <button class="btn btn-warning" ng-click="transferDialogOk()">Antaa palaa</button>
    </div>

</div>