<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Lokalisointi">
        <meta name="author" content="Opetushallitus">
        <title>Lokalisointi</title>

        <script src="../lib/jquery-1.10.2.min.js"></script>
        <script src="../lib/jquery-ui.min.js"></script>

        <!--
          Environment configuration file(s): ext/* - development only - see actual values from service filters.
        -->
        <script src="../ext/js/env-configuration.js"></script>

        <!--
        Application configuration file(s):
        -->
        <script src="../js/app-configuration.js"></script>
        <!--
         Developer configuration file(s):
        -->
        <script src="../dev/dev-configuration.js"></script>

        <!--
        Angular, see version.txt for version.
        -->
        <script src="../lib/angular/angular.js"></script>
        <script src="../lib/angular/angular-resource.js"></script>
        <script src="../lib/angular/angular-route.js"></script>
        <script src="../lib/angular/angular-sanitize.js"></script>
        <script src="../lib/angular/angular-animate.js"></script>

        <script src="../js/ngGrid/ng-grid-2.0.7.min.js"></script>

        <script src="../lib/underscore/underscore.js"></script>
        <script src="../lib/tinymce/tinymce.min.js"></script>
        <script src="../lib/ui-angular-tinymce.js"></script>

        <script src="../js/shared/loading.js"></script>

        <script src="../js/services.js"></script>
        <script src="../js/shared/debounce.js"></script>
        <script src="../js/app.js"></script>

        <script src="../lib/ui-bootstrap-tpls-0.6.0.js"></script>

        <link href="../lib/bootstrap-combined.min.css" rel="stylesheet">
        <link href="../css/virkailija.css" rel="stylesheet"/>
        <link href="../css/app.css" rel="stylesheet"/>
        <link href="../js/ngGrid/ng-grid.min.css" rel="stylesheet"/>

        <script type="text/javascript" src="/virkailija-raamit/apply-raamit.js"></script>
    </head>

    <body data-ng-controller="AppCtrl">

        <div class="container" data-ng-if="model.info.length > 0">
            <div data-ng-repeat="msg in model.info" data-ng-switch="msg.status">
                <div data-ng-switch-when="OK" class="alert alert-success">
                    <a class="close" data-dismiss="alert" data-ng-click="deleteMessage(msg)">×</a>
                    OK {{ msg.message }}
                    {{ timedDeleteMessage(msg)}}
                </div>
                <div data-ng-switch-when="ERROR" class="alert alert-error">
                    <a class="close" data-dismiss="alert" data-ng-click="deleteMessage(msg)">×</a>
                    ERROR
                    <pre>{{msg| json }}</pre>
                </div>
                <div data-ng-switch-default class="alert alert-info">
                    <a class="close" data-dismiss="alert" data-ng-click="deleteMessage(msg)">×</a>
                    INFO {{ msg.message }}
                    {{ timedDeleteMessage(msg)}}
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <form name="localisationsForm" novalidate>
                <div>
                    <div class="btn btn-primary" data-ng-click="reloadData()">Lataa käännökset uudelleen</div>
                    <div class="btn btn-primary" data-ng-click="saveAllModifiedNew()">
                        Tallenna kaikki muuttuneet ({{numChangedItems()}})
                        ja poista valitut ({{numSelected()}}) käännökset
                    </div>
                    <div class="btn btn-primary" ng-click="openDialog()">Kopiointi</div>
                    <a href="/lokalisointi/cxf/rest/v1/localisation">Lataa (Save Link As...)</a>
                </div>

                <table>
                    <tr>
                        <td>-</td>
                        <td><input type="text" data-ng-model="model.filterCategory" ng-change="doFiltering()" placeholder="Kategoria filtteri"></td>
                        <td><input type="text" data-ng-model="model.filterKey" ng-change="doFiltering()" placeholder="Avain filtteri"></td>
                        <td><input type="text" data-ng-model="model.filterLocale" ng-change="doFiltering()" placeholder="Locale filtteri" ></td>
                        <td><input type="text" data-ng-model="model.filterValue" ng-change="doFiltering()" placeholder="Arvo filtteri" ></td>
                    </tr>
                </table>

                <div class="gridStyle" ng-grid="model.gridOptions"></div>
            </form>

<!--
            <form name="localisationsForm" novalidate>
                <div class="btn btn-primary" data-ng-click="reloadData()">Lataa käännökset uudelleen</div>
                <div class="btn btn-primary" data-ng-click="saveAllModified()" data-ng-disabled="localisationsForm.$pristine">Tallenna kaikki muuttuneet</div>
                <div class="btn btn-primary" ng-click="openDialog()">Kopiointi</div>
                <a href="/lokalisointi/cxf/rest/v1/localisation">Lataa (Save Link As...)</a>

                <table>
                    <tr>
                        <th colspan="6">Näytetään {{model.filteredList.length}}
                            / {{model.localisations.length}} käännöstekstistä</th>
                    </tr>

                    <tr>
                        <td>-</td>
                        <td><input type="text" data-ng-model="model.filterCategory" ng-change="doFiltering()" placeholder="Kategoria filtteri"></td>
                        <td><input type="text" data-ng-model="model.filterKey" ng-change="doFiltering()" placeholder="Avain filtteri"></td>
                        <td><input type="text" data-ng-model="model.filterLocale" ng-change="doFiltering()" placeholder="Locale filtteri" ></td>
                        <td><input type="text" data-ng-model="model.filterValue" ng-change="doFiltering()" placeholder="Arvo filtteri" ></td>
                        <td>--</td>
                    </tr>

                    <tr>
                        <th>[POISTA]</th>
                        <th>Kategoria</th>
                        <th>Avain</th>
                        <th>Kieli</th>
                        <th>Arvo</th>
                        <th>Accessed, lkm</th>
                    </tr>

                    <tr data-ng-repeat="l in model.filteredList| orderBy: ['category', 'key', 'locale']" data-ng-class="{uiChanged: l.uiChanged}">
                        <td><input type="checkbox" data-ng-model="l.uiDelete" data-ng-change="l.uiChanged = true"></td>
                        <td>{{ l.category}}</td>
                        <td>{{ l.key}}</td>
                        <td>{{ l.locale}}</td>
                        <td><textarea data-ng-model="l.value" data-ng-change="l.uiChanged = true" cols="10"></textarea></td>
                        <! -- <td><textarea data-ng-model="l.description" data-ng-change="l.uiChanged = true" cols="10"></textarea></td> - ->
                        <td>{{ l.accessed | date:'dd.MM.yyyy HH:mm:ss'}} / {{ l.accesscount}}</td>
                    </tr>
                </table>
            </form>
-->

        </div>

        <div data-ng-controller="LoadingCtrl"
             data-ng-show="loading"
             id="ajax-loader"
             class="{{ isModal() ? 'max' : 'min'}}">
            <div>
                <img alt="Ladataan..." src="../img/ajax-loader-big.gif" />
                <span>Ladataan...</span>
            </div>
        </div>


        <script type="text/ng-template" id="localisationTransferDialog2.html">
            <div>
            <div class="modal-header">
            <h3>Käännösten siirtäminen ympäristöstä toiseen</h3>
            </div>

            <div class="modal-body">
            <div>Käännösten kopiointi annetusta ympäristöstä 'TÄHÄN' ympäristöön.</div>

            <div>
            Kopioi :

            <select ng-model="model.copyFrom">
            <option value="">-- Valitse mistä käännökset kopioidaan --</option>
            <option value="../localisations.json">(esiladatu)</option>
            <option value="https://itest-virkailija.oph.ware.fi/lokalisointi/cxf/rest/v1/localisation?value=NOCACHE">Luokalta</option>
            <option value="https://test-virkailija.oph.ware.fi/lokalisointi/cxf/rest/v1/localisation?value=NOCACHE">Repulta</option>
            <option value="https://testi.virkailija.opintopolku.fi/lokalisointi/cxf/rest/v1/localisation?value=NOCACHE">QA:lta</option>
            <option value="https://koulutus.virkailija.opintopolku.fi/lokalisointi/cxf/rest/v1/localisation?value=NOCACHE">Koulutuksesta</option>
            <option value="https://virkailija.opintopolku.fi/lokalisointi/cxf/rest/v1/localisation?value=NOCACHE">Tuotannosta</option>
            </select>
            </div>

            <div>
            <input type="checkbox" data-ng-model="model.force"> Pakotettu päivitys (kirjoittaa päälle vaikka olisi uudempi olemassa)<br/>
            <input type="text" data-ng-model="model.copyFrom" placeholder="localisointi REST uri tähän"  width="80" />
            </div>

            {{ model.result}}

            </div>

            <div class="modal-footer">
            <button class="btn btn-primary" ng-click="transferDialogCancel()">Peruuta</button>
            <button class="btn btn-warning" ng-click="transferDialogOk()" ng-disabled="model.copyFrom == ''">Suorita kopiointi</button>
            </div>
            </div>
        </script>


        <script type="text/ng-template" id="localisationLongTextDialog.html">
            <div>
            <div class="modal-header">
            <h3>Pitkän monirivisen tekstin muokkaaminen</h3>
            </div>

            <div class="modal-body">

            <textarea rows="10" cols="80" data-ng-model="model.longText"></textarea>

            </div>

            <div class="modal-footer">
              <button class="btn btn-warning" ng-click="$dismiss(true)">CANCEL</button>
              <button class="btn btn-warning" ng-click="$close(true)">OK</button>
            </div>
            </div>
        </script>


        <script>
                    var init_counter = 0;
                    var initFunction = function(id, xhr, status) {
                        init_counter--;

                        console.log("Got ready signal from: " + id);
                        console.log("  status = ", status);
                        console.log("  xhr = ", xhr);

                        if (init_counter > 0) {
                            console.log("Got ready signal from: '" + id + "' -- still waiting for " + init_counter + " requests.");
                        } else {
                            console.log("OK! That was the last request, init the app!");

                            angular.element(document).ready(function() {
                                angular.module('myApp', ['app']);
                                angular.bootstrap(document, ['myApp']);
                            });
                        }
                    };


                    //
                    // Get current users authorisation info (/cas/myroles)
                    //
                    console.log("** Loading authentication info; from: ", window.CONFIG.env.casUrl);
                    init_counter++;
                    jQuery.ajax(window.CONFIG.env.casUrl, {
                        dataType: "json",
                        success: function(xhr, status) {
                            window.CONFIG.env["cas.myroles"] = xhr;
                            initFunction("AUTHENTICATION", xhr, status);
                        },
                        error: function(xhr, status) {
                            window.CONFIG.env["cas.myroles"] = [];
                            initFunction("AUTHENTICATION FAILED", xhr, status);
                        }
                    });

                    //
                    // Get current users authorisation info 
                    // (window.CONFIG.env.lokalisointiRestUrl /lokalisointi/cxf/rest/v1/localisation/authorize)
                    //
                    console.log("** Calling mr. Authorize: ", window.CONFIG.env.lokalisointiRestUrl + "/authorize");
                    init_counter++;
                    jQuery.ajax(window.CONFIG.env.lokalisointiRestUrl + "/authorize", {
                        dataType: "text",
                        xhrFields: {
                          withCredentials: true
                        },
                        success: function(xhr, status) {
                            initFunction("/authorize", xhr, status);
                        },
                        error: function(xhr, status) {
                            initFunction("/authorize FAILED", xhr, status);
                        }
                    });
        </script>

    </body>
</html>
