<div>
    <div class="modal-header">
        <h3>Käännösten siirtäminen ympäristöstä toiseen</h3>
    </div>

    <div class="modal-body">
        <div>Käännösten kopiointi annetusta ympäristöstä 'TÄHÄN' ympäristöön.</div>

        <div>
            Kopioi :

            <select ng-model="model.copyFrom">
                <option value="">-- Valitse mistä käännökset kopioidaan --</option>
                <option value="../localisations.json">(esiladatu)</option>
                <option value="https://itest-virkailija.oph.ware.fi/lokalisointi/cxf/rest/v1/localisation?category=virkailijaraamit&locale=sv">Luokalta</option>
                <option value="https://test-virkailija.oph.ware.fi/lokalisointi/cxf/rest/v1/localisation?category=virkailijaraamit&locale=sv">Repulta</option>
                <option value="https://testi.virkailija.opintopolku.fi/lokalisointi/cxf/rest/v1/localisation?category=virkailijaraamit&locale=sv">QA:lta</option>
                <option value="https://koulutus.virkailija.opintopolku.fi/lokalisointi/cxf/rest/v1/localisation?category=virkailijaraamit&locale=sv">Koulutuksesta</option>
                <option value="https://virkailija.opintopolku.fi/lokalisointi/cxf/rest/v1/localisation?category=virkailijaraamit&locale=sv">Tuotannosta</option>
            </select>
        </div>

        <div>
            <input type="checkbox" data-ng-model="model.force"> Pakotettu päivitys (kirjoittaa päälle vaikka olisi uudempi olemassa)<br/>
            <input type="text" data-ng-model="model.copyFrom" placeholder="localisointi REST uri tähän"  width="80" />
        </div>

        A {{ model.result }} B

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="transferDialogCancel()">Peruuta</button>
        <button class="btn btn-warning" ng-click="transferDialogOk()" ng-disabled="model.copyFrom == ''">Suorita kopiointi</button>
    </div>

</div>