<div>
    <div class="modal-header">
        <h3>Käännösten siirtäminen ympäristöstä toiseen</h3>
    </div>

    <div class="modal-body">
        <div>Käännösten kopiointi annetusta ympäristöstä 'TÄHÄN' ympäristöön.</div>

        <div>
            Kopioi :

            <button class="btn" ng-click="model.copyFrom = '../localisations.json'"">(esiladatut)</button>
            <button class="btn" ng-click="model.copyFrom = 'https://itest-virkailija.oph.ware.fi/lokalisointi/cxf/rest/v1/localisation'"">Luokalta</button>
            <button class="btn" ng-click="model.copyFrom = 'https://test-virkailija.oph.ware.fi/lokalisointi/cxf/rest/v1/localisation'"">Repulta</button>
            <button class="btn" ng-click="model.copyFrom = 'https://testi.virkailija.opintopolku.fi/lokalisointi/cxf/rest/v1/localisation'"">QA:lta</button>
            <button class="btn" ng-click="model.copyFrom = 'https://koulutus.virkailija.opintopolku.fi/lokalisointi/cxf/rest/v1/localisation'"">Koulutuksesta</button>
            <button class="btn" ng-click="model.copyFrom = 'https://virkailija.opintopolku.fi/lokalisointi/cxf/rest/v1/localisation'"">Tuotannosta</button>
        </div>

        <input type="text" data-ng-model="model.copyFrom" placeholder="localisointi REST uri tähän" />

        {{ model.result }}

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="transferDialogCancel()">Peruuta</button>
        <button class="btn btn-warning" ng-click="transferDialogOk()">Suorita kopiointi</button>
    </div>

</div>