frozen-lockfile=true
audit=false
fund=false
legacy-peer-deps=true
@opetushallitus:registry=https://npm.pkg.github.com
strict-peer-dependencies=false
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}