/* app css stylesheet */

/* pienempi latauspylpyrä */
div#ajax-loader.min {
    position:fixed;
    bottom:0;
    width:100%;
    height:48px;
    text-align:center;
    padding-top:8px;
    padding-bottom:8px;
}

div#ajax-loader.min div {
    width:100%;
}

div#ajax-loader.min img {
    display:inline;
    position:relative;
}

div#ajax-loader.min span {
    display:inline;
    position:relative;
}


/* firefox-bootstrap-glow-korjaus */
input:invalid,textarea:invalid,select:invalid {
    box-shadow: 0 0 6px rgba(0,0,0,0.075);
}

// .ng-pristine { border:1px solid Gold; }
// .ng-dirty.ng-valid { border:1px solid Green; }
// .ng-dirty.ng-invalid { border:1px solid Red; }
// .ng-dirty.ng-valid ~ span.ok { color:green; display:inline; }
// .ng-dirty.ng-invalid ~ span.ko { color:red; display:inline; }

tr.uiChanged { background-color: #ccf0ed}

table tr  td {vertical-align: top;}

